<div class="example-container">
  <mat-form-field>
    <textarea [(ngModel)]="faqDescription" matInput placeholder="Textarea"
      placeholder="Write your question..."></textarea>
  </mat-form-field>
  <button (click)="addToFrequentlyAskedQuestions(faqDescription); table.renderRows(); faqDescription = ''"
    mat-raised-button>
    Add to FAQ
  </button>
</div>

<table #table style="width: 100%" mat-table [dataSource]="faqs" class="mat-elevation-z1">
  <ng-container matColumnDef="isSelected">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="onCheckboxChange(selectAll, 'SELECT_ALL')" [(ngModel)]="selectAll" class="example-margin">
        Select All
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let element">
      <mat-checkbox (change)="onCheckboxChange(element.isSelected)" class="example-margin"
        [(ngModel)]="element.isSelected">
      </mat-checkbox>
    </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>